<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92811830191-23fufdjs53vn65cn1ah604utsk3est0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92811830191-23fufdjs53vn65cn1ah604utsk3est0q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>92811830191-q7c46tfupdaiu49un7mvmnunv2i612hr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0otNLkZ93D93aWJmgOtycRMgsiwsza48</string>
	<key>GCM_SENDER_ID</key>
	<string>92811830191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.employeeapp.qa</string>
	<key>PROJECT_ID</key>
	<string>employeeapp-84c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>employeeapp-84c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92811830191:ios:8873a2164976c02f3e455a</string>
</dict>
</plist>